//
    // Grid
    // @package tyd

.r-grid
    display: grid
    &_12-cols
        grid-template-columns: repeat(12, 1fr)
    &--gap
        grid-gap: $grid_gap
    &--autosize\(2-3\)
        grid-template-columns: 1fr
        +mq(md)
            grid-template-columns: repeat(2, minmax(224px, 1fr))
        +mq(lg)
            grid-template-columns: repeat(3, minmax(224px, 1fr))
    &--autosize\(3\)
        grid-template-columns: 1fr
        +mq(lg)
            grid-template-columns: repeat(3, minmax(224px, 1fr))
.r-grid--12
    display: grid
    grid-template-columns: repeat(12, 1fr)



.r-story-cards > span
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-gap: $gutter
    +mq(sm)
        grid-gap: $grid_gap
    padding-right: $edge
    padding-left: $edge
    .r-story-cards__card
        grid-column: 1/-1
        +mq(md)
            &:nth-child(odd)
                grid-column: 1/7
            &:nth-child(even)
                grid-column: 7/-1
            &:nth-child(n+11)
                grid-column: 1/-1
                max-width: $breakpoint_md
                margin: 0 auto
                display: grid
                grid-template-columns: repeat(12, 1fr)
                grid-gap: $gutter
                > *:first-child
                    grid-column: 1/7
                    height: em(344px)
                > *:last-child
                    grid-column: 7/-1
                    height: 100%
                    padding: $gutter
                    padding-left: 0
        +mq(xl)
            &:nth-child(1)
                grid-column: 1/5
            &:nth-child(2)
                grid-column: 5/9
            &:nth-child(3)
                grid-column: 9/-1
            &:nth-child(4)
                grid-column: 1/5
            &:nth-child(5)
                grid-column: 5/9
            &:nth-child(6)
                grid-column: 9/-1
            &:nth-child(7), &:nth-child(9)
                grid-column: 1/7
            &:nth-child(8), &:nth-child(10)
                grid-column: 7/-1