//
    // Displays
    // @package tyd


// Flex
.r-d-flex
    display: flex
.r-flex-wrap
    flex-wrap: wrap
.r-flex-dir-col
    flex-direction: column

.r-al-fs
    align-items: flex-start
.r-al-i-c
    align-items: center
.r-al-i-bs
    align-items: baseline
.r-al-s-fs
    align-self: flex-start

.r-d-flex
    display: flex
    .r-flex_main
        flex: 1
.r-flex-1
    flex: 1
.r-flex--fixed-header-footer
    display: flex
    flex-direction: column
    > *
        &:nth-child(2)
            flex: 1



// Justifications
.r-j-i-c
    justify-items: center
.r-j-c-sb
    justify-content: space-between
.r-j-c-c
    justify-content: center
    &\@md
        +mq(md)
            justify-content: center
    &\@lg
        +mq(lg)
            justify-content: center
.r-j-s-c
    justify-self: center
    &\@md
        +mq(md)
            justify-self: center
.r-j-c-fe
    justify-content: flex-end
.r-j-s-fs
    justify-self: flex-start
    margin-right: auto
.r-j-s-fe
    justify-self: flex-end
    margin-left: auto // justify-self is ignored in Flexbox layouts.
.r-j-s-e
    justify-self: end
.r-j-i-unset
    justify-items: unset



// Block
.r-d-none
    display: none
.r-d-block
    display: block
.r-d-ibl
    display: inline-block
