//
    // Measures
    // @package tyd

// Widths
.r-w-100
    width: 100%
.r-maxwidth-xxs
    max-width: $breakpoint_xxs
.r-maxwidth-xs
    max-width: $breakpoint_xs
.r-maxwidth-sm
    max-width: $breakpoint_sm
.r-maxwidth-md
    max-width: $breakpoint_md
.r-w--small
    width: 64px
.r-w--medium
    width: 96px
.r-w--large
    width: 112px



// Heights
.r-h-100
    height: 100%
.r-h-100vh
    height: 100vh
.r-bar-height
    height: $bar_height