//
    // Padding Utilities
    // @package tyd

// Zeros
.r-p-0
    padding: 0
.r-pt-0
    padding-top: 0
.r-pb-0
    padding-bottom: 0
.r-pt-0\@xl
    +mq(xl)
        padding-top: 0
.r-pt-0\@md-down
    @media (max-width: $breakpoint_md)
        padding-top: 0
.r-pr-0
    padding-right: 0
.r-pr-edge\@lg-up
    @media (min-width: $breakpoint_lg)
        padding-right: $edge



// Edges
.r-p-edges
    padding: $edge
.r-pt-edge
    padding-top: $edge
.r-pb-edge
    padding-bottom: $edge



// Tops
.r-pt-gutter
    padding-top: $gutter



// X Axis
.r-px-0\@sm-down
    padding-right: 0
    padding-left: 0
    @media (min-width: $breakpoint_sm)
        padding-right: $edge
        padding-left: $edge