//
    // Utility Positions
    // @package tyd

// Positions
.r-pos-r
    position: relative
.r-pos-a
    position: absolute
.r-pos-f
    position: fixed



// Dead Middle
.r-pos-xy--middle
    +pos($t: 50%, $l: 50%)
    transform: translate(-50%, -50%)



// Offsets  / Top
.r-top-0
    top: 0



// Offsets / Right
.r-right-0
    right: 0
.r-right-edge
    right: $edge



// Offsets / Bottom
.r-bottom-0
    bottom: 0
.r-bottom-edge
    bottom: $edge



// Offsets / Left
.r-left-0
    left: 0
.r-left-edge
    left: $edge



// Edge Cases
.r-bottom-bar-controls
    +pos(fixed, $r: $edge, $b: $edge, $l: $edge)
    background-color: #fff
    box-shadow: $thin_shadow
    border-radius: $border_radius_nano
    +mq(lg)
        left: 50%
