//
    // Visibility
    // @package adx_usr


// Visibles
.r-visible-sm-up
    display: none
    +mq(sm)
        display: inherit
.r-visible-md-up
    display: none
    +mq(md)
        display: inherit
.r-visible-lg-up
    display: none
    +mq(lg)
        display: inherit
.r-visible-xl-up
    display: none
    +mq(xl)
        display: inherit



// Hiddens
.r-hidden-sm-up
    display: inherit
    +mq(sm)
        display: none
.r-hidden-lg-up
    display: inherit
    +mq(lg)
        display: none
.r-hidden-xl-up
    display: inherit
    +mq(xl)
        display: none



// Z-Indexes
.r-zx
    +r_zx($zx)



// Overflows
.r-o-hidden
    overflow: hidden
.r-o-auto
    overflow: auto
.r-ox-hidden
    overflow-x: hidden
.r-oy-hidden
    overflow-y: hidden



// Screen Reader Text
.r-sr:not(:focus):not(:active), .sr:not(:focus):not(:active)
    position: absolute
    +wh(1px)
    padding: 0
    margin: -1px
    border: 0
    clip-path: inset(100%)
    overflow: hidden
    white-space: nowrap