<template>
    <footer class="r-footer r-grid--12 r-j-i-c r-gutter--grow r-thin-shadow" :style="{ backgroundColor: meta.themeBlack }">
        <r-home-link :useDefault="false" class="r-m-0 r-pt-edge"/>
        <p class="r-mb-0 r-co-white r-opacity-07 r-ff-sans r-fs-micro r-tx-c r-edges r-gutter">
            {{ $static.metadata.siteDescription }}
        </p>
        <r-social/>
        <!-- <r-more-links class="r-gutter--top" :justify="'r-j-c-c'"/> -->
    </footer>
</template>

<script>
    import MoreLinks from '~/components/links/MoreLinks'
    export default {
        components: {
            'r-more-links': MoreLinks
        },
        computed: {
            meta() { return this.$static.metadata }
        }
    }
</script>

<style lang="scss" scoped>
    .r-footer {
        > * {
            grid-column: 1/-1;
            @include mq(sm) { grid-column: 2/12; }
            @include mq(md) { grid-column: 3/11; }
            @include mq(lg) { grid-column: 4/10; }
            @include mq(xxl) { grid-column: 5/9; }
        }
    }
</style>

<static-query>
    query {
        metadata { siteName, siteDescription, siteTheme, themeDark, themeBlack }
    }
</static-query>