<template>
    <div class="r-topbar r-zx-07">
        <r-container class="r-pr-0 r-pr-edge@lg-up">
            <vsm-menu :menu="menu" :key="$route.fullPath">
                <template #default="data">
                    <component
                        :is="data.item.content"
                        class="vsm-content"
                    />
                </template>
                <template #before-nav>
                    <li class="vsm-section vsm-mob-full">
                        <r-home-link/>
                    </li>
                </template>
                <template #after-nav>
                    <li class="vsm-section r-d-flex r-al-i-c">
                        <div class="r-visible-lg-up r-prefix--wider">
                            <r-social :num="3"/>
                        </div>
                        <r-newsletter/>
                        <vsm-mob>
                            <r-mobile/>
                        </vsm-mob>
                    </li>
                </template>
            </vsm-menu>
        </r-container>
    </div>
</template>

<script>
    import { mapMutations } from 'vuex'
    import MoreDropdown from '~/components/links/MoreDropdown'
    import TopicsDropdown from '~/components/links/TopicsDropdown'
    import Mobile from './Mobile'
    export default {
        data() {
            return {
                menu: [
                    { title: 'Read', dropdown: 'r-topics-dropdown', content: 'r-topics-dropdown' },
                    { title: 'Listen', attributes: { to: 'listen', exact: true }, element: 'g-link' },
                    { title: 'Watch', attributes: { to: 'watch', exact: true }, element: 'g-link' },
                    // { title: 'More', dropdown: 'r-more-dropdown', content: 'r-more-dropdown' },
                    { title: 'About', attributes: { to: 'about', exact: true }, element: 'g-link' }
                ]
            }
        },
        components: {
            'r-more-dropdown': MoreDropdown,
            'r-topics-dropdown': TopicsDropdown,
            'r-mobile': Mobile
        }
    }
</script>

<style lang="scss">
    .r-topbar {
        position: sticky;
        top: 0;
        background-color: #fff;
        padding-top: $half_edge;
        padding-bottom: $half_edge;
    }
    .vsm-menu {
        .vsm-root {
            display: flex;
            align-items: center;
        }
        .vsm-section_menu {
            flex: 1 1 auto;
            justify-content: center;
            button, a {
                height: 100%!important;
                display: block;
                padding: $edge;
                color: $color_gray_700;
                font-family: $font_sans;
                font-weight: $bold;
                font-size: em($base) * 0.8;
                text-transform: uppercase;
                letter-spacing: $letter_spacing_default;
                transition: color $timing_duration $timing_function;
                &:focus, &:hover, &.active, [aria-expanded="true"] {
                    color: $color_1;
                }
                &.active { cursor: default; }
            }
            .vsm-link, button {
                display: block;
                height: 100%!important;
                line-height: $line_height_default;
            }
        }
        .vsm-section_mob {
            margin: 0;
            .vsm-mob__hamburger {
                @include wh(unset);
                padding: $edge;
                .vsm-mob-line {
                    @include wh(20px, 2px);
                    background: $color_1;
                    &:nth-child(2) {
                        margin: 4px 0;
                    }
                }
                &:focus, &:hover {
                    .vsm-mob-line  {
                        background: $color_1;
                    }
                }
            }
        }
        @media screen and (max-width: $maxpoint_lg) {
            .vsm-mob-full { flex-grow: 1; }
            .vsm-section_mob { display: block; }
            .vsm-mob-hide { display: none; }
        }
    }
    .vsm-dropdown-container {
        border-radius: $border_radius_mini!important;
    }
    .vsm-background {
        background: $color_1!important;
        border-radius: $border_radius_mini!important;
    }
    .vsm-dropdown-content {
        background: $color_1;
        color: #fff;
        border-radius: $border_radius_mini!important;
        .vsm-content {
            padding: $edge 0;
            min-width: em(296px);
            height: 100%;
            min-height: em(272px);
            max-height: em(392px);
            overflow-y: auto;
            ul {
                li {
                    a {
                        display: block;
                        text-decoration: none;
                        padding: $half_edge $gutter;
                        color: #fff;
                        font-family: $font_sans;
                        font-weight: $bold;
                        font-size: em($base) * 0.8;
                        text-transform: uppercase;
                        letter-spacing: $letter_spacing_default;
                        transition: opacity $timing_duration $timing_function;
                        opacity: 0.8;
                        &:focus, &:hover, &.active {
                            opacity: 1;
                        }
                        &.active { cursor: default; }
                    }
                }
            }
        }
    }
    .vsm-arrow { background: $color_1!important; }
    .vsm-mob-content {
        top: 1px!important;
        right: 12px!important;
        left: -6px!important;
        &__wrap {
            border-radius: $border_radius_small!important;
            background: $app_bg!important;
            .vsm-mob-close {
                @include wh(48px);
                z-index: 56;
                &:before, &:after {
                    background: #fff;
                    height: 2px;
                    opacity: 1;
                    transition: opacity $timing_duration $timing_function;
                }
                &:focus, &:hover {
                    &:before, &:after {
                        background: #fff;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .vsm-mob-content__wrap {
        line-height: $line_height_default!important;
        font-size: em($base) * 1!important;
        nav {
            &:first-child {
                height: 100%;
                max-height: em(320px);
                overflow-y: auto;
                background: $color_1;
                border-radius: $border_radius_small!important;
                ul {
                    padding: $edge 0;
                    @include mq(sm) { column-count: 2; }
                    li {
                        break-inside: avoid;
                        a {
                            display: block;
                            text-decoration: none;
                            padding: $edge $gutter;
                            color: #fff;
                            font-family: $font_sans;
                            font-weight: $bold;
                            font-size: em($base) * 0.8;
                            text-transform: uppercase;
                            letter-spacing: $letter_spacing_default;
                            opacity: 0.8;
                            &:focus, &:hover, &.active {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            &:last-child {
                background: $app_bg;
                padding-top: $edge;
                ul {
                    padding-bottom: $edge;
                    li a {
                        display: block;
                        text-decoration: none;
                        padding: $half_edge $gutter;
                        font-family: $font_sans;
                        font-weight: $medium;
                        color: $color_gray_700;
                        text-indent: -5px;
                        &:focus, &:hover, &.active {
                            color: $color_1;
                        }
                    }
                }
                .r-social-links {
                    padding: $edge;
                    border-top: 1px solid rgba(#000, 0.1);
                    justify-content: space-evenly;
                    .r-social-icon {
                        filter: none;
                    }
                }
            }
        }
    }
</style>