<template>
    <div>
        <nav>
            <h2 class="r-sr" v-text="'Topics (Mobile)'"/>
            <ul class="r-none">
                <li v-for="{ node } in $static.allTopic.edges" :key="node.id">
                    <g-link :to="node.path" exact>
                        {{ node.title }}
                    </g-link>
                </li>
            </ul>
        </nav>
        <nav>
            <h2 class="r-sr" v-text="'Other Pages (Mobile)'"/>
            <ul class="r-none">
                <template v-for="{ node } in $static.allMore.edges">
                    <li v-for="item in node.morelinks" :key="item.id">
                        <g-link :to="item.slug" exact>
                            {{ item.title }}
                        </g-link>
                    </li>
                </template>
            </ul>
            <r-social/>
        </nav>
    </div>
</template>

<static-query>
    query {
        allTopic {
            edges {
                node {
                    id
                    title
                    path
                }
            }
        }
        allMore {
            edges {
                node {
                    id
                    morelinks {
                        title
                        slug
                    }
                }
            }
        }
    }
</static-query>