<template>
    <r-default :pageTitle="`${meta.siteName} - ${page.title}`" :showFooter="false">
        <div class="r-fullpage r-gutter--grow r-edges">
            <g-image
                :src="page.image"
                :alt="page.image_description"
                class="r-w-100 r-h-100 r-o-fit-contain"
            />
            <div class="r-tx-c r-maxwidth-xs r-mx-auto r-edges--all">
                <p class="r-mb-0 r-opacity-08">
                    {{ page.excerpt }}
                </p>
                <g-link to="/" class="r-btn r-btn--primary r-mt-gutter">
                    {{ 'Go Home' }}
                </g-link>
            </div>
        </div>
    </r-default>
</template>

<script>
    export default {
        computed: {
            meta() { return this.$static.metadata },
            page() { return this.$static.page }
        },
        metaInfo() {
            return {
                title: this.meta.title,
                meta: [
                    {
                        name: 'description',
                        content: this.page.excerpt
                    }
                ],
                bodyAttrs: {
                    class: 'r-not-found r-oy-hidden'
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .r-fullpage {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        @include wh(100%, 100vh);
        > * {
            grid-column: 1/-1;
            &:first-child { grid-row: 1/7; }
            &:last-child { grid-row: 7/-1; }
            @include mq(sm) {
                &:first-child { grid-row: 1/9; }
                &:last-child { grid-row: 9/-1; }
            }
            @include mq(md) { grid-column: 2/12; }
        }
    }
</style>

<static-query>
    query {
        metadata {
            siteName
            siteDescription
            siteUrl
            siteImage(width: 1440, height: 960, quality: 100)
            siteImageDesc
            siteDomain
        }
        page: customPage(path: "/content/pages/404") {
            id
            path
            title
            excerpt
            slug
            template
            image
            image_description
        }
    }
</static-query>