<template>
    <r-default :pageTitle="`${meta.siteName} - ${page.title}`">
        <r-hero-grid :hero="hero" :latest="latest"/>
        <r-container edgeless>
            <div class="r-content-grid r-gutter" v-html="page.content"/>
        </r-container>
    </r-default>
</template>

<script>
    import HeroGrid from '../components/layouts/HeroGrid'
    export default {
        components: {
            'r-hero-grid': HeroGrid,
        },
        computed: {
            meta() { return this.$page.metadata },
            page() { return this.$page.page },
            hero() { return this.$page.page.grid_hero },
            latest() { return this.$page.featured.edges[0].node.path },
            pageImage() {
                const
                    image = this.meta.siteUrl + this.page.cover_image.image.src,
                    defaultImage = this.meta.siteUrl + this.meta.siteImage.src
                return image ? image : defaultImage
            }
        },
        metaInfo() {
            return {
                title: this.page.title,
                meta: [
                    { name: 'description', content: this.page.excerpt },

                    { property: 'og:site_name', content: this.meta.siteName },
                    { property: 'og:type', content: 'website' },
                    { property: 'og:url', content: this.meta.siteUrl + this.$route.fullPath },
                    { property: 'og:title', content: this.page.title },
                    { property: 'og:description', content: this.page.excerpt },
                    { property: 'og:image', content: this.pageImage },

                    { name: 'twitter:domain', content: this.meta.siteUrl },
                    { name: 'twitter:card', content: 'summary_large_image' },
                    { name: 'twitter:url', content: this.meta.siteUrl + this.$route.fullPath },
                    { name: 'twitter:title', content: this.page.title },
                    { name: 'twitter:description', content: this.page.excerpt },
                    { name: 'twitter:image', content: this.pageImage }
                ],
                bodyAttrs: {
                    class: 'r-about r-custom-bquote'
                },
                link: [
                    {
                        rel: 'canonical',
                        href: this.meta.siteUrl + this.$route.fullPath
                    }
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>

<page-query>
    query($id: ID) {
        metadata { siteName, siteDescription, siteUrl, siteImage }
        page: customPage(id: $id) {
            id, title, path, slug, template, excerpt,
            grid_hero {
                headline
                top_leading_image
                top_trailing_image
                top_leading_image_description
                top_trailing_image_description
                bottom_leading_image
                bottom_trailing_image
                bottom_leading_image_description
                bottom_trailing_image_description
                link_button { text, link }
            }
            cover_image { image(width: 1440, height: 960, quality: 100), description }
            content
        }
        featured: allStory (sortBy: "created_at", limit: 1) {
            edges {
                node {
                    path
                }
            }
        }
    }
</page-query>