<template>
    <r-default :pageTitle="`${meta.siteName} - ${page.title}`">
        <r-container edgeless class="r-gutter r-pt-0@md-down r-pb-0">
            <r-author-cover :author="page"/>
        </r-container>
        <r-container edgeless class="r-gutter r-gutter--grow">
            <div v-if="stories.length > 0" class="r-story-cards">
                <span>
                    <r-story-card
                        v-for="edge in stories"
                        :key="edge.node.id"
                        :story="edge.node"
                    />
                </span>
            </div>
        </r-container>
    </r-default>
</template>

<script>
    import AuthorCover from '~/components/cards/AuthorCover'
    import StoryCard from '~/components/cards/StoryCard'
    export default {
        components: {
            'r-author-cover': AuthorCover,
            'r-story-card': StoryCard
        },
        computed: {
            meta() { return this.$page.metadata },
            page() { return this.$page.page },
            stories() { return this.$page.page.belongsTo.edges },
            pageImage() {
                const
                    image = this.meta.siteUrl + this.page.avatar.src,
                    defaultImage = this.meta.siteUrl + this.meta.siteImage.src
                return image ? image : defaultImage
            }
        },
        metaInfo() {
            return {
                title: this.page.title,
                meta: [
                    { name: 'description', content: this.page.short_bio },

                    { property: 'og:site_name', content: this.meta.siteName },
                    { property: 'og:type', content: 'website' },
                    { property: 'og:url', content: this.meta.siteUrl + this.$route.fullPath },
                    { property: 'og:title', content: this.page.title },
                    { property: 'og:description', content: this.page.short_bio },
                    { property: 'og:image', content: this.pageImage },

                    { name: 'twitter:domain', content: this.meta.siteUrl },
                    { name: 'twitter:card', content: 'summary_large_image' },
                    { name: 'twitter:url', content: this.meta.siteUrl + this.$route.fullPath },
                    { name: 'twitter:title', content: this.page.title },
                    { name: 'twitter:description', content: this.page.short_bio },
                    { name: 'twitter:image', content: this.pageImage }
                ],
                bodyAttrs: {
                    class: 'r-author'
                },
                link: [
                    {
                        rel: 'canonical',
                        href: this.meta.siteUrl + this.$route.fullPath
                    }
                ]
            }
        }
    }
</script>

<page-query>
    query($id: ID, $page: Int) {
        metadata { siteName, siteDescription, siteUrl, siteImage }
        page: author(id: $id) {
            id
            path
            title
            role
            avatar (width: 768, height: 768, quality: 100)
            short_bio
            social_links {
                link {
                    title
                    full_url
                }
            }
            belongsTo(sortBy: "created_at", page: $page, perPage: 6) @paginate {
                totalCount
                pageInfo {
                    totalPages
                    currentPage
                }
                edges {
                    node {
                        ...on Story {
                            id
                            path
                            title
                            publish
                            created_at (format: "MMM DD, YYYY")
                            image (width: 768, height: 960, quality: 100)
                            pastel
                            type {
                                id
                                title
                            }
                            author (limit: 3) {
                                id
                                title
                                avatar (width: 48, height: 48, quality: 100)
                                path
                            }
                            topic (limit: 1) {
                                id
                                title
                                color
                                path
                            }
                        }
                    }
                }
            }
        }
    }
</page-query>