<template>
    <r-default :pageTitle="`${meta.siteName} - ${page.title}`">
        <!-- Page Title -->
        <r-container edgeless class="r-gutter--grow">
            <r-page-title :page="page"/>
        </r-container>
        <!-- Cover Image -->
        <r-cover-image v-if="page.show_cover" :page="page" class="r-gutter--bottom--grow"/>
        <!-- Main Article -->
        <r-container edgeless>
            <div v-html="page.content" class="r-content-grid r-gutter--bottom--grow"/>
        </r-container>
    </r-default>
</template>

<script>
    import PageTitle from '~/components/blocks/PageTitle'
    import CoverImage  from '~/components/cards/CoverImage'
    export default {
        computed: {
            meta() { return this.$page.metadata },
            page() { return this.$page.page },
            pageImage() {
                const
                    image = this.meta.siteUrl + this.page.cover_image.image.src,
                    defaultImage = this.meta.siteUrl + this.meta.siteImage.src
                return image ? image : defaultImage
            }
        },
        components: {
            'r-page-title': PageTitle,
            'r-cover-image': CoverImage
        },
        mounted() {
            if (process.isClient) {
                this.unwrapImages()
            }
        },
        metaInfo() {
            return {
                title: this.page.title,
                meta: [
                    { name: 'description', content: this.page.excerpt },

                    { property: 'og:site_name', content: this.meta.siteName },
                    { property: 'og:type', content: 'website' },
                    { property: 'og:url', content: this.meta.siteUrl + this.$route.fullPath },
                    { property: 'og:title', content: this.page.title },
                    { property: 'og:description', content: this.page.excerpt },
                    { property: 'og:image', content: this.pageImage },

                    { name: 'twitter:domain', content: this.meta.siteUrl },
                    { name: 'twitter:card', content: 'summary_large_image' },
                    { name: 'twitter:url', content: this.meta.siteUrl + this.$route.fullPath },
                    { name: 'twitter:title', content: this.page.title },
                    { name: 'twitter:description', content: this.page.excerpt },
                    { name: 'twitter:image', content: this.pageImage }
                ],
                bodyAttrs: {
                    class: 'r-default r-blockquote--default'
                },
                link: [
                    {
                        rel: 'canonical',
                        href: this.meta.siteUrl + this.$route.fullPath
                    }
                ]
            }
        }
    }
</script>

<page-query>
    query($id: ID) {
        metadata { siteName, siteDescription, siteUrl, siteImage }
        page: customPage(id: $id) {
            id
            title
            show_headline
            headline
            show_excerpt
            excerpt
            slug
            template
            show_dates
            dates { date_published(format: "MMM DD, YYYY"), date_updated(format: "MMM DD, YYYY") }
            show_cover
            cover_image { image(width: 1440, height: 960, quality: 100), description }
            content
        }
    }
</page-query>