<template>
    <r-default :pageTitle="`${meta.siteName} - ${meta.siteDescription}`">
        <r-container edgeless class="r-gutter r-pt-0@md-down r-pb-0">
            <r-cover-card v-for="item in featured" :key="item.id" :story="item.node"/>
        </r-container>
        <r-container edgeless class="r-gutter r-gutter--grow">
            <div class="r-story-cards">
                <transition-group name="fade">
                    <r-story-card
                        v-for="{ node } in loadedStories"
                        :key="node.id"
                        :story="node"
                    />
                </transition-group>
                <ClientOnly>
                    <infinite-loading @infinite="loadMore" spinner="spiral">
                        <div slot="no-more"/>
                        <div slot="no-results"/>
                    </infinite-loading>
                </ClientOnly>
            </div>
        </r-container>
    </r-default>
</template>

<script>
    import CoverCard from '~/components/cards/CoverCard'
    import StoryCard from '~/components/cards/StoryCard'
    export default {
        data() {
            return {
                loadedStories: [],
			    currentPage: 1
            }
        },
        created() {
            this.loadedStories.push(...this.$page.other.edges)
        },
        components: {
            'r-cover-card': CoverCard,
            'r-story-card': StoryCard
        },
        computed: {
            meta() { return this.$page.metadata },
            featured() { return this.$page.featured.edges },
            other() { return this.$page.other.edges },
            page() { return this.$page.page },
            pageImage() {
                const
                    image = this.meta.siteUrl + this.page.cover_image.image.src,
                    defaultImage = this.meta.siteUrl + this.meta.siteImage.src
                return image ? image : defaultImage
            }
        },
        methods: {
            async loadMore($state) {
                if (this.currentPage + 1 > this.$page.other.pageInfo.totalPages) {
                    $state.complete()
                } else {
                    const { data } = await this.$fetch(`/${this.currentPage + 1}`)
                    if (data.other.edges.length) {
                        this.currentPage = data.other.pageInfo.currentPage
                        this.loadedStories.push(...data.other.edges)
                        $state.loaded()
                    } else {
                        $state.complete()
                    }
                }
            }
        },
        metaInfo() {
            return {
                title: this.meta.siteName,
                meta: [
                    { name: 'description', content: this.meta.siteDescription},

                    { property: 'og:site_name', content: this.meta.siteName },
                    { property: 'og:type', content: 'website' },
                    { property: 'og:url', content: this.meta.siteUrl },
                    { property: 'og:title', content: this.meta.siteName },
                    { property: 'og:description', content: this.meta.siteDescription },
                    { property: 'og:image', content: this.pageImage },

                    { name: 'twitter:domain', content: this.meta.siteUrl },
                    { name: 'twitter:card', content: 'summary_large_image' },
                    { name: 'twitter:url', content: this.meta.siteUrl },
                    { name: 'twitter:title', content: this.meta.siteName },
                    { name: 'twitter:description', content: this.meta.siteDescription },
                    { name: 'twitter:image', content: this.pageImage }
                ],
                bodyAttrs: {
                    class: 'r-home'
                },
                link: [
                    {
                        rel: 'canonical',
                        href: this.meta.siteUrl
                    }
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
    .fade-enter-active,
    .fade-leave-active {
        transition: ease opacity 0.32s;
    }
    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
</style>

<page-query>
    query($page: Int, $id: ID) {
        metadata { siteName, siteDomain, siteDescription, siteUrl, siteImage }
        page: customPage(id: $id) {
            cover_image { image(width: 1440, height: 960, quality: 100), description }
        }
        featured: allStory (sortBy: "created_at", limit: 1) {
            edges {
                node {
                    id
                    path
                    title
                    publish
                    created_at (format: "MMM DD, YYYY")
                    image (width: 768, height: 960, quality: 100)
                    pastel
                    type {
                        id
                        title
                    }
                  	topic (limit: 1) {
                        id
                        title
                        color
                        path
                    }
                    author (limit: 3) {
                        id
                        title
                        avatar (width: 50, height: 50, quality: 100)
                        path
                    }
                }
            }
        }
        other: allStory (sortBy: "created_at", skip: 1, page: $page, perPage: 6) @paginate {
            pageInfo {
                totalPages
                currentPage
            }
            edges {
                node {
                    id
                    path
                    title
                    publish
                    created_at (format: "MMM DD, YYYY")
                    image (width: 960, height: 1280, quality: 100)
                    pastel
                    type {
                        id
                        title
                    }
                  	topic (limit: 1) {
                        id
                        title
                        color
                        path
                    }
                    author (limit: 3) {
                        id
                        title
                        avatar (width: 48, height: 48, quality: 100)
                        path
                    }
                }
            }
        }
    }
</page-query>