<template>
    <r-default :pageTitle="`${meta.siteName} - ${page.title}`">
        <!-- Cover -->
        <r-container edgeless class="r-gutter r-pt-0@md-down r-pb-0">
            <r-cover :color="applyColors[page.pastel.toLowerCase()]">
                <template v-slot:leading>
                    <div class="r-decoration-none r-d-block r-h-100">
                        <g-image
                            :src="page.image"
                            :alt="page.image_description"
                            class="r-w-100 r-h-100 r-notch-bottom r-thin-shadow"
                        />
                    </div>
                </template>
                <template v-slot:trailing>
                    <div class="r-decoration-none r-edges--grow r-gutter r-d-flex r-flex-dir-col r-h-100">
                        <div class="r-flex_main">
                            <p class="r-mb-0 r-gutter--bottom-half r-ff-s r-caps r-caps--nano r-fw-bold">
                                <g-link
                                    v-for="topic in page.topic.slice(0, 1)"
                                    :key="topic.id"
                                    :to="topic.path"
                                    class="r-decoration-none r-badge r-prefix--wider"
                                    :style="`background-color:${topic.color}`"
                                >
                                    {{ topic.title }}
                                </g-link>
                                <span class="r-co-gray--700">
                                    {{ page.created_at }}
                                </span>
                            </p>
                            <h2 class="r-m-0 r-co-black r-headline--big">
                                {{ page.title }}
                            </h2>
                        </div>
                        <div class="r-d-flex r-al-i-c r-j-c-sb r-mt-edge">
                            <template v-if="page.author.length <= 1">
                                <g-link
                                    v-for="author in page.author"
                                    :key="author.id"
                                    :to="author.path"
                                    class="r-decoration-none r-link--gray r-d-flex r-al-i-c"
                                >
                                    <g-image
                                        :src="author.avatar"
                                        :alt="author.title"
                                        class="r-avatar r-avatar--small"
                                    />
                                    <span class="r-suffix--wider r-ff-s r-caps r-caps--micro r-fw-bold">
                                        {{ author.title }}
                                    </span>
                                </g-link>
                            </template>
                            <template v-else>
                                <div class="r-d-flex r-al-i-c">
                                    <g-link
                                        :to="author.path"
                                        v-for="author in page.author"
                                        :key="author.title"
                                        class="r-overlapping-avatar r-d-flex r-al-i-c">
                                        <g-image
                                            :src="author.avatar"
                                            :alt="author.title"
                                            class="r-avatar r-avatar--small"
                                        />
                                    </g-link>
                                    <span v-if="page.author.length > 1" class="r-suffix--wider r-co-gray--700 r-ff-s r-caps r-caps--micro r-fw-bold">
                                        +{{ page.author.length }} authors
                                    </span>
                                </div>
                            </template>
                            <r-sprite
                                v-if="page.type"
                                :icon="page.type.title.toLowerCase()"
                                width="32" height="32"
                                :fill="page.topic[0].color"
                            />
                        </div>
                    </div>
                </template>
            </r-cover>
        </r-container>
        <!-- Sharing Links -->
        <r-container class="r-gutter r-d-flex r-al-i-c r-j-c-c">
            <r-share-links
                :url="url"
                :username="username"
                :title="page.title"
                class="r-edges"
            />
        </r-container>
        <!-- Affiliate Disclosure -->
        <r-container class="r-gutter--bottom r-px-0@sm-down">
            <r-affiliate-disclosure/>
        </r-container>
        <!-- Main Article -->
        <r-container edgeless>
            <div class="r-content-grid" v-html="page.content"/>
        </r-container>
        <!-- Sharing Links -->
        <r-container class="r-gutter r-pb-0 r-d-flex r-al-i-c r-j-c-c">
            <r-share-links
                :url="url"
                :username="username"
                :title="page.title"
                class="r-edges"
            />
        </r-container>
        <!-- Topics as Tags -->
        <r-container class="r-gutter r-pt-0 r-d-flex r-al-i-c r-j-c-c">
            <r-topic-tags :topics="topics"/>
        </r-container>
        <!-- Author(s) -->
        <r-fullwidth :color="applyColors[page.pastel.toLowerCase()]" class="r-gutter--grow">
            <r-container>
                <h2 class="r-m-0 r-gutter--bottom r-section-header">{{ 'Story by:' }}</h2>
                <div class="r-grid r-grid--gap r-grid--autosize(2-3) r-j-c-c">
                    <r-story-author v-for="author in page.author" :key="author.id" :author="author"/>
                </div>
            </r-container>
        </r-fullwidth>
        <!-- More Stories -->
        <div class="r-bg-app r-gutter--grow">
            <r-container>
                <div class="r-grid r-grid--gap r-grid--autosize(3)">
                    <r-related-topic-stories :record="page.topic[0]"/>
                    <r-story-card
                        v-for="{ node } in latest"
                        :key="node.id"
                        :story="node"
                        :shorterCard="true"
                    />
                </div>
            </r-container>
        </div>
    </r-default>
</template>

<script>
    import { mapGetters } from 'vuex'
    import Cover from '~/components/layouts/Cover'
    import AffiliateDisclosure from '~/components/blocks/AffiliateDisclosure'
    import RelatedTopicStories from '~/components/links/RelatedTopicStories'
    import StoryCard from '~/components/cards/StoryCard'
    import StoryAuthor from '~/components/blocks/StoryAuthor'
    import ShareLinks from '~/components/links/ShareLinks'
    import TopicTags from '~/components/links/TopicTags'
    export default {
        data() {
            return {
                url: ''
            }
        },
        components: {
            'r-cover': Cover,
            'r-related-topic-stories': RelatedTopicStories,
            'r-story-card': StoryCard,
            'r-story-author': StoryAuthor,
            'r-share-links': ShareLinks,
            'r-topic-tags': TopicTags,
            'r-affiliate-disclosure': AffiliateDisclosure
        },
        computed: {
            ...mapGetters([ 'applyColors' ]),
            meta() { return this.$page.metadata },
            page() { return this.$page.page },
            latest() { return this.$page.latest.edges },
            username() { return this.$page.social.edges[0].node.social_links[0].username },
            topics() { return this.$page.page.topic },
            pageImage() {
                const
                    image = this.meta.siteUrl + this.page.image.src,
                    defaultImage = this.meta.siteUrl + this.meta.siteImage.src
                return image ? image : defaultImage
            }
        },
        methods: {
            setUrl() {
                return this.url = window.location.href
            }
        },
        mounted() {
            if (process.isClient) {
                this.unwrapImages()
                this.setUrl()
            }
        },
        metaInfo() {
            return {
                title: this.page.title,
                meta: [
                    { name: 'description', content: this.page.excerpt },

                    { property: 'og:site_name', content: this.meta.siteName },
                    { property: 'og:type', content: 'website' },
                    { property: 'og:url', content: this.meta.siteUrl + this.$route.fullPath },
                    { property: 'og:title', content: this.page.title },
                    { property: 'og:description', content: this.page.excerpt },
                    { property: 'og:image', content: this.pageImage },

                    { name: 'twitter:domain', content: this.meta.siteUrl },
                    { name: 'twitter:card', content: 'summary_large_image' },
                    { name: 'twitter:url', content: this.meta.siteUrl + this.$route.fullPath },
                    { name: 'twitter:title', content: this.page.title },
                    { name: 'twitter:description', content: this.page.excerpt },
                    { name: 'twitter:image', content: this.pageImage }
                ],
                bodyAttrs: {
                    class: 'r-story r-blockquote--default'
                },
                link: [
                    {
                        rel: 'canonical',
                        href: this.meta.siteUrl + this.$route.fullPath
                    }
                ]
            }
        }
    }
</script>

<page-query>
    query ($id: ID, $path: String) {
        metadata { siteName, siteDescription, siteUrl, siteImage }
        page: story(id: $id) {
            id
            path
            title
            created_at (format: "MMM DD, YYYY")
            image (width: 768, height: 960, quality: 100)
            image_description
            pastel
            type {
                id
                title
            }
            topic {
                id
                title
                color
                path
                belongsTo (limit: 3, skip: 1) {
                    totalCount
                    edges {
                        node {
                            ... on Story {
                                title
                                path
                                image (width: 64, height: 64, quality: 100)
                            }
                        }
                    }
                }
            }
            author (limit: 3) {
                id
                title
                role
                short_bio
                avatar (width: 200, height: 200, quality: 100)
                path
            }
            excerpt
            content
        }
        latest: allStory(
            sortBy: "created_at"
            filter: { path: { ne: $path } }
            limit: 2
            ) {
            edges {
                node {
                    id
                    path
                    title
                    created_at (format: "MMM DD, YYYY")
                    image (width: 960, height: 1280, quality: 100)
                    pastel
                    type {
                        id
                        title
                    }
                    topic (limit: 1) {
                        id
                        title
                        color
                        path
                    }
                    author (limit: 3) {
                        id
                        title
                        avatar (width: 50, height: 50, quality: 100)
                        path
                    }
                }
            }
        }
        social: allSocial {
            edges {
                node {
                    id
                    social_links {
                        title
                        url
                        username
                    }
                }
            }
        }
    }
</page-query>