<template>
    <r-default :pageTitle="`${meta.siteName} - ${page.title}`">
        <r-container edgeless class="r-gutter r-pt-0@md-down">
            <r-topic-cover
                v-if="stories.length > 0"
                :topic="page"
                :image="stories[stories.length - 1].node.image"
                :alt="stories[stories.length - 1].node.title"/>
            <r-topic-cover
                v-else
                :topic="page"
                :image="meta.siteImage"
                :alt="meta.siteImageDesc"/>
        </r-container>
        <r-container edgeless class="r-gutter r-gutter--grow">
            <div v-if="stories.length > 0" class="r-story-cards">
                <span>
                    <r-story-card
                        v-for="edge in stories"
                        :key="edge.node.id"
                        :story="edge.node"
                    />
                </span>
            </div>
        </r-container>
    </r-default>
</template>

<script>
    import TopicCover from '~/components/cards/TopicCover'
    import StoryCard from '~/components/cards/StoryCard'
    export default {
        components: {
            'r-topic-cover': TopicCover,
            'r-story-card': StoryCard
        },
        computed: {
            meta() { return this.$page.metadata },
            page() { return this.$page.page },
            stories() { return this.$page.page.belongsTo.edges },
            pageImage() {
                return this.meta.siteUrl + this.meta.siteImage.src
            }
        },
        metaInfo() {
            return {
                title: this.page.title,
                meta: [
                    { name: 'description', content: this.meta.siteDescription },

                    { property: 'og:site_name', content: this.meta.siteName },
                    { property: 'og:type', content: 'website' },
                    { property: 'og:url', content: this.meta.siteUrl + this.$route.fullPath },
                    { property: 'og:title', content: this.page.title },
                    { property: 'og:description', content: this.meta.siteDescription },
                    { property: 'og:image', content: this.pageImage },

                    { name: 'twitter:domain', content: this.meta.siteUrl },
                    { name: 'twitter:card', content: 'summary_large_image' },
                    { name: 'twitter:url', content: this.meta.siteUrl + this.$route.fullPath },
                    { name: 'twitter:title', content: this.page.title },
                    { name: 'twitter:description', content: this.meta.siteDescription },
                    { name: 'twitter:image', content: this.pageImage }
                ],
                bodyAttrs: {
                    class: 'r-topic'
                },
                link: [
                    {
                        rel: 'canonical',
                        href: this.meta.siteUrl + this.$route.fullPath
                    }
                ]
            }
        }
    }
</script>

<page-query>
    query($id: ID) {
        metadata { siteName, siteDescription, siteUrl, siteImage(width: 1440, height: 960, quality: 100), siteImageDesc, siteDomain }
        page: topic(id: $id) {
            id
            path
            title
            color
            belongsTo(sortBy: "created_at") {
                totalCount
                pageInfo {
                    totalPages
                    currentPage
                }
                edges {
                    node {
                        ...on Story {
                            id
                            path
                            title
                            created_at (format: "MMM DD, YYYY")
                            image (width: 768, height: 960, quality: 100)
                            pastel
                            type {
                                id
                                title
                            }
                            author (limit: 3) {
                                id
                                title
                                avatar (width: 48, height: 48, quality: 100)
                                path
                            }
                            topic (limit: 1) {
                                id
                                title
                                color
                                path
                            }
                        }
                    }
                }
            }
        }
    }
</page-query>