//
    // Specific to About template (but global just in case)
    // @package tyd

.r-custom-bquote
    .r-content-grid
        blockquote
            margin: $gutter 0
            padding: ($gutter * 2) $edge
            background-color: $color_black
            color: #fff
            p:first-child
                font-size: rem(25px)
                opacity: 0.9
            p:last-child:not(:only-of-type)
                font-size: rem(20px)
                margin-top: $gutter
                font-style: italic
                opacity: 0.8
            +mq(md)
                grid-column: 1/-1
                padding: $gutter * 2
                p:first-child
                    font-size: rem(30px)
            +mq(lg)
                grid-column: 2/12