//
    // Specific to Story template (but global just in case)
    // @package tyd

.r-content-grid, .r-default-content-grid
    @extend .r-grid--12
    grid-gap: $edge
    > *
        grid-column: 1/-1
        +mq(md)
            grid-column: 2/12
        +mq(lg)
            grid-column: 3/11

.r-content-grid
    margin-bottom: $edge // To add a little more measured space ($edge) just before footer.
    .r-is-h, .r-is-p, ul, ol
        padding-right: $edge
        padding-left: $edge
    > .r-is-h:first-child
        margin-top: 0
    p
        margin-bottom: 0
        hyphens: auto
        &:first-child
            font-size: $font_size_default * 1.35
            +mq(md)
                grid-column: 1/-1
            +mq(lg)
                grid-column: 2/12
    > p:first-child::first-letter
        font-size: $font_size_default * 5
        float: left
        text-transform: uppercase
        font-weight: $bold
        line-height: 1
        padding-right: rem(12px)
        margin-top: -6px
        +mq(sm)
            font-size: $font_size_default * 8
    img
        width: 100%
        grid-column: 1/-1
        margin: $gutter 0
        @include mq(lg)
            grid-column: 1/-1
            padding-right: $edge
            padding-left: $edge
    ul, ol
        margin-top: $gutter
        margin-bottom: $gutter
        padding-left: $gutter * 2
        font-size: $font_size_default * 1.18
        line-height: $line_height_lists


// Blockquotes
.r-blockquote--default
    .r-content-grid
        blockquote:not(.twitter-tweet)
            margin: 0
            border-left: 5px solid $color_1
            padding: $edge 0
            p:first-child
                font-size: rem(25px)
            p:last-child:not(:only-of-type)
                font-size: rem(20px)
                margin-top: $gutter
                font-style: italic
                opacity: 0.8
            +mq(md)
                grid-column: 1/-1
                margin: $gutter 0
                p:first-child
                    font-size: rem(30px)
            +mq(lg)
                grid-column: 2/12


// Embeds
.vimeo-embed, .youtube-embed, .twitter-embed
    grid-column: 1/-1
    margin: $gutter 0
    @include mq(lg)
        grid-column: 2/12
        padding-right: $edge
        padding-left: $edge
// .twitter-embed
//     .twitter-tweet.twitter-tweet-rendered
//         // width: 100%!important
//         margin: 0 auto!important