<template>
    <r-cover :color="meta.siteTheme" shortCover>
        <template v-slot:leading>
            <g-image :src="author.avatar" class="r-w-100 r-h-100 r-notch-bottom r-thin-shadow"/>
        </template>
        <template v-slot:trailing>
            <div class="r-edges--grow r-gutter r-d-flex r-flex-dir-col r-h-100">
                <div class="r-co-white">
                    <h2 class="r-m-0 r-co-black r-headline--big r-co-inherit">
                        {{ author.title }}
                    </h2>
                    <p class="r-d-block r-ff-sans r-fw-bold r-caps r-caps--micro r-opacity-07">
                        {{ author.role }}
                    </p>
                    <p v-text="author.short_bio" class="r-opacity-08 r-ff-sans r-maxwidth-xs"/>
                </div>
                <ul class="r-none r-d-flex r-al-i-c">
                    <li v-for="link in author.social_links.link" :key="link.title" class="r-edges--right">
                        <a
                            :href="link.full_url"
                            class="r-d-flex r-light r-scale:hover"
                            target="_blank"
                            rel="noopener">
                            <r-sprite v-if="link.title.toLowerCase() === 'website'" :icon="link.title.toLowerCase()" width="35" height="35" fill="#fff"/>
                            <r-sprite v-else :icon="link.title.toLowerCase() + '-circle'" width="35" height="35" fill="#fff"/>
                            <span class="r-sr">{{ author.title }}'s {{ link.title }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </template>
    </r-cover>
</template>

<script>
    import { mapState } from 'vuex'
    import { mapGetters } from 'vuex'
    import Cover from '~/components/layouts/Cover'
    export default {
        props: {
            author: {
                type: Object,
                required: true
            }
        },
        components: {
            'r-cover': Cover
        },
        computed: {
            ...mapGetters([ 'applyColors', 'primary' ]),
            ...mapState([ 'primary' ]),
            meta() { return this.$static.metadata }
        }
    }
</script>

<style lang="scss" scoped>

</style>

<static-query>
    query {
        metadata { siteName, siteDescription, siteTheme, themeDark, themeBlack }
    }
</static-query>