<template>
    <div class="r-cover-image">
        <g-image :src="page.cover_image.image" :alt="page.cover_image.description" class="r-w-100"/>
    </div>
</template>

<script>
    export default {
        props: ['page']
    }
</script>

<style lang="scss" scoped>
    .r-cover-image {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: $edge;
        img {
            grid-column: 1/-1;
            height: em(392px);
            @include mq(sm) { height: em(520px); }
            @include mq(md) { height: em(596px); }
        }
    }
</style>