<template>
    <r-cover :color="applyColors[story.pastel.toLowerCase()]">
        <template v-slot:leading>
            <g-link
                :to="story.path"
                class="r-decoration-none r-d-block r-h-100"
            >
                <g-image :src="story.image" class="r-w-100 r-h-100 r-notch-bottom r-thin-shadow"/>
            </g-link>
        </template>
        <template v-slot:trailing>
            <g-link
                :to="story.path"
                class="r-decoration-none r-edges--grow r-gutter r-d-flex r-flex-dir-col r-h-100 r-scale-icon:hover"
            >
                <div class="r-flex_main">
                    <p
                        v-for="topic in story.topic"
                        :key="topic.id"
                        class="r-mb-0 r-gutter--bottom-half r-ff-s r-caps r-caps--nano r-fw-bold"
                        :style="`color:${topic.color}`"
                    >
                        {{ topic.title }}
                        <span class="r-co-gray--700">
                            / {{ story.created_at }}
                        </span>
                    </p>
                    <h2 class="r-m-0 r-co-black r-headline--big">
                        {{ story.title }}
                    </h2>
                </div>
                <div class="r-d-flex r-al-i-c r-j-c-sb">
                    <template v-if="story.author.length >= 1">
                        <div class="r-d-flex r-al-i-c">
                            <template v-if="story.author.length > 1">
                                <g-image v-for="author in story.author" :key="author.id" :src="author.avatar" class="r-avatar r-avatar--small r-overlapping-avatar"/>
                                <span v-if="story.author.length > 1" class="r-suffix--wider r-co-gray--700 r-ff-s r-caps r-caps--micro r-fw-bold">
                                    +{{ story.author.length }} authors
                                </span>
                            </template>
                            <template v-else>
                                <g-image :src="story.author[0].avatar" class="r-avatar"/>
                                <span class="r-suffix--wider r-co-gray--700 r-ff-s r-caps r-caps--micro r-fw-bold">
                                    {{ story.author[0].title }}
                                </span>
                            </template>
                        </div>
                    </template>
                    <r-sprite v-if="story.type" :icon="story.type.title.toLowerCase()" width="32" height="32" :fill="story.topic[0].color"/>
                </div>
            </g-link>
        </template>
    </r-cover>
</template>

<script>
    import { mapGetters } from 'vuex'
    import Cover from '~/components/layouts/Cover'
    export default {
        props: {
            story: {
                type: Object,
                required: true
            }
        },
        components: {
            'r-cover': Cover
        },
        computed: {
            ...mapGetters([ 'applyColors' ])
        }
    }
</script>