<template>
    <g-link
        :to="story.path"
        :style="{ backgroundColor: applyColors[story.pastel.toLowerCase()] }"
        class="r-decoration-none r-d-block r-h-100 r-story-cards__card r-notch-top--small r-scale-icon:hover"
        :class="shorterCard ? 'r-shorter-card' : ''">
        <div class="r-story-cards__card__image">
            <g-image :src="story.image" class="r-w-100 r-h-100 r-notch-top--small r-notch-bottom--small"/>
        </div>
        <div
            class="r-story-cards__card__text r-gutter r-edges r-d-flex r-flex-dir-col"
            :style="{ backgroundColor: applyColors[story.pastel.toLowerCase()] }"
        >
            <div class="r-flex_main">
                <p
                    v-for="topic in story.topic"
                    :key="topic.id"
                    class="r-mb-0 r-gutter--bottom-half r-ff-s r-caps r-caps--nano r-fw-bold"
                    :style="`color:${topic.color}`"
                >
                    {{ topic.title }}
                    <span class="r-co-gray--700">
                        / {{ story.created_at }}
                    </span>
                </p>
                <h2 class="r-m-0 r-co-black r-headline--small r-pb-edge">
                    {{ story.title }}
                </h2>
            </div>
            <div class="r-d-flex r-al-i-c r-j-c-sb">
                <div class="r-d-flex r-al-i-c">
                    <g-image v-for="author in story.author" :key="author.id" :src="author.avatar" class="r-avatar r-overlapping-avatar"/>
                    <span v-if="story.author.length > 1" class="r-suffix--wider r-co-gray--700 r-ff-s r-caps r-caps--micro r-fw-bold">
                        +{{ story.author.length }} authors
                    </span>
                    <template v-if="story.author.length <= 1">
                        <span
                            v-for="author in story.author"
                            :key="author.title"
                            class="r-suffix--wider r-co-gray--700 r-ff-s r-caps r-caps--micro r-fw-bold">
                            {{ author.title }}
                        </span>
                    </template>
                </div>
                <r-sprite
                    v-if="story.type"
                    :icon="story.type.title.toLowerCase()"
                    width="24" height="24"
                    :fill="story.topic[0].color"
                />
            </div>
        </div>
    </g-link>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
        props: ['story', 'color', 'shorterCard'],
        computed: {
            ...mapGetters([ 'applyColors' ])
        }
    }
</script>

<style lang="scss" scoped>
    .r-story-cards__card {
        &__image {
            height: em(392px);
            img { box-shadow: $shadow; }
        }
        &__text { height: em(232px); }
    }
    .r-story-cards__card.r-shorter-card {
        .r-story-cards__card__image {
            height: em(256px);
        }
    }
</style>