<template>
    <r-cover :color="`${topic.color}`" shortCover>
        <template v-slot:leading>
            <g-image :src="image" :alt="alt" class="r-w-100 r-h-100 r-notch-bottom r-thin-shadow"/>
        </template>
        <template v-slot:trailing>
            <div class="r-edges--grow r-gutter r-d-flex r-flex-dir-col r-h-100">
                <div class="r-co-white">
                    <h2 class="r-m-0 r-co-black r-headline--big r-co-inherit">
                        {{ topic.title }}
                    </h2>
                </div>
            </div>
        </template>
    </r-cover>
</template>

<script>
    import { mapState } from 'vuex'
    import { mapGetters } from 'vuex'
    import Cover from '~/components/layouts/Cover'
    export default {
        props: ['topic', 'image', 'alt'],
        components: {
            'r-cover': Cover
        },
        computed: {
            ...mapGetters([ 'applyColors', 'primary' ])
        }
    }
</script>

<style lang="scss" scoped>

</style>