<template>
    <g-link to="/" :class="`r-logo r-decoration-none r-lh-1 r-fs-display ${fill}`" exact>
        <r-sprite v-if="useDefault" icon="logo-default" cls="r-logo__svg"/>
        <r-sprite v-else icon="logo-alt" cls="r-logo__svg"/>
    </g-link>
</template>

<script>
    export default {
        props: {
            fill: {
                type: String,
                default: 'r-co-black'
            },
            useDefault: {
                type: Boolean,
                default: true
            }
        },
    }
</script>

<style lang="scss">
    .r-logo {
        &__svg {
            width: em(112px);
            height: auto;
            @include mq(sm) { width: em(136px); }
        }
    }
</style>