<template>
    <nav>
        <h2 class="r-sr">Site Pages</h2>
        <ul class="r-none">
            <template v-for="{ node } in $static.more.edges">
                <li v-for="item in node.morelinks" :key="item.id">
                    <g-link :to="item.slug" exact>
                        {{ item.title }}
                    </g-link>
                </li>
            </template>
        </ul>
    </nav>
</template>

<static-query>
    query {
        more: allMore {
            edges {
                node {
                    id
                    morelinks {
                        title
                        slug
                    }
                }
            }
        }
    }
</static-query>