<template>
    <nav>
        <h2 class="r-sr">Site Pages (Repeated)</h2>
        <ul class="r-none r-list-horizontal" :class="justify">
            <template v-for="{ node } in more">
                <li v-for="item in node.morelinks" :key="item.id" class="r-list-horizontal__item r-list-dim r-d-flex r-al-i-c">
                    <g-link :to="item.slug" class="r-list-dim__item r-decoration-none r-ff-sans r-fw-medium r-fs-micro" exact>
                        {{ item.title }}
                    </g-link>
                </li>
            </template>
        </ul>
    </nav>
</template>

<script>
    export default {
        props: {
            justify: String,
        },
        computed: {
            more() { return this.$static.more.edges }
        }
    }
</script>

<static-query>
    query {
        more: allMore {
            edges {
                node {
                    id
                    morelinks {
                        title
                        slug
                    }
                }
            }
        }
    }
</static-query>