<template>
    <a
        href="https://theyaddo.ck.page/72daa47504"
        data-formkit-toggle="72daa47504"
        class="r-btn r-btn--primary r-btn--fab@lg-down">
        <r-sprite icon="mail" cls="modal-subscribe"/>
        <span class="r-suffix r-visible-lg-up">
            Join Us!
        </span>
    </a>
    <!-- <a
        href="https://k16e.ck.page/ab0ce20197"
        data-formkit-toggle="ab0ce20197"
        class="r-btn r-btn--primary r-btn--fab@lg-down">
        <r-sprite icon="mail" cls="modal-subscribe"/>
        <span class="r-suffix r-visible-lg-up">
            Join Us!
        </span>
    </a> -->
</template>