<template>
    <article class="r-card r-d-flex r-flex-dir-col" :style="`background-color:${record.color}`">
        <g-link :to="record.path" class="r-decoration-none r-d-block r-border-bottom--light r-link r-link--white r-tx-c r-edges--all">
            <h3 class="r-m-0 r-co-white">
                More from {{ record.title | capitalize }}
            </h3>
        </g-link>
        <ul class="r-none r-flex_main">
            <li v-for="{ node } in record.belongsTo.edges" :key="node.id">
                <g-link :to="node.path" class="r-decoration-none r-ff-sans r-fw-medium r-media-list r-media-list--light r-edges--all r-link r-link--white">
                    <g-image :src="node.image" :alt="node.title" class="r-br-nano r-image(64) r-border--light r-border-width(2)"/>
                    <span>
                        {{ node.title }}
                    </span>
                </g-link>
            </li>
        </ul>
        <g-link :to="record.path" class="r-decoration-none r-d-flex r-al-i-c r-j-c-c r-bar-height r-link r-link--white r-border-top--light">
            <span class="r-ff-sans r-caps r-caps--micro r-fw-bold">
                All {{ record.belongsTo.totalCount }} Stories
            </span>
        </g-link>
    </article>
</template>

<script>
    export default {
        props: ['record']
    }
</script>

<static-query>
    query {
        metadata {
            siteName
            siteDescription
        }
    }
</static-query>