<template>
    <div class="r-sharing-links r-d-flex r-al-i-c">
        <h2 class="r-m-0 r-edges--all r-caps r-caps--micro r-ff-sans r-cta r-co-gray--600">{{ 'Share' }}</h2>
        <ul class="r-d-flex r-al-i-c r-edges--all r-m-0 r-listtyle-none">
            <li>
                <a
                    :href="`https://www.facebook.com/sharer/sharer.php?u=${url}`"
                    target="_blank"
                    rel="nofollow"
                    class="r-d-flex r-scale-icon:hover r-mr-edge">
                    <r-sprite width="35" height="35" icon="facebook-circle-color"/>
                    <span class="r-sr">{{ 'Facebook sharing link' }}</span>
                </a>
            </li>
            <li>
                <a
                    :href="`http://twitter.com/share?url=${url}&text=${title}&via=${username}`"
                    target="_blank"
                    rel="nofollow"
                    class="r-d-flex r-scale-icon:hover r-mr-edge">
                    <r-sprite width="35" height="35" icon="twitter-circle-color"/>
                    <span class="r-sr">{{ 'Twitter sharing link' }}</span>
                </a>
            </li>
            <li>
                <a
                    :href="`mailto:?subject=${title}&body=${title}%0d%0a${url}`"
                    target="_blank"
                    rel="nofollow"
                    class="r-d-flex r-scale-icon:hover">
                    <r-sprite width="35" height="35" icon="at-symbol-circle-color"/>
                    <span class="r-sr">{{ 'Email sharing link' }}</span>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['url', 'title', 'username']
    }
</script>

<style lang="scss" scoped>
    .r-sharing-links {
        .r-cta {
            border-right: $border-dark;
        }
    }
</style>