<template>
    <div class="r-d-flex r-al-i-c r-social-links">
        <template v-for="{ node } in social">
            <a
                v-for="link in node.social_links.slice(0, num)" :key="link.id"
                :href="link.url"
                class="r-d-flex r-edges r-scale:hover"
                target="_blank"
                rel="noopener">
                <r-sprite :icon="link.title.toLowerCase()" width="25" height="25"/>
                <span class="r-sr">{{ link.title | capitalize }}</span>
            </a>
        </template>
    </div>
</template>
<script>
    export default {
        computed: {
            social() { return this.$static.social.edges }
        },
        props: {
            num: {
                type: Number,
                default: 5
            }
        }
    }
</script>
<static-query>
    query {
        social: allSocial {
            edges {
                node {
                    id
                    social_links {
                        title
                        url
                    }
                }
            }
        }
    }
</static-query>