<template>
    <ul class="r-d-flex r-al-i-c r-edges--all r-m-0 r-listtyle-none">
        <li
            v-for="topic in topics.slice(0, 3)"
            :key="topic.id"
            class="r-mr-h:not(last-child)">
            <g-link
                :to="topic.path"
                class="r-decoration-none r-badge r-ff-sans r-caps r-caps--nano r-fw-bold"
                :style="`background-color:${topic.color}`">
                {{ topic.title }}
            </g-link>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['topics']
    }
</script>