<template>
    <nav>
        <h2 class="r-sr">Topics (Desktop)</h2>
        <ul class="r-none">
            <li v-for="{ node } in activeTopics" :key="node.id">
                <g-link :to="node.path" exact>
                    {{ node.title }}
                </g-link>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        data() {
            return {
                activeTopics: []
            }
        },
        computed: {
            topics() {
                return this.$static.allTopic.edges
            }
        },
        methods: {
            hasStory() {
                this.activeTopics = this.topics.filter(({node}) => node.belongsTo.edges.length > 0)
            }
        },
        created () {
            this.hasStory();
        }
    }
</script>

<static-query>
    query {
        allTopic (order: ASC) {
            edges {
                node {
                    id
                    title
                    path
                    belongsTo {
                        edges {
                            node {
                                ...on Story {
                                    publish
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</static-query>