//
    // Base
    // @package tyd

html
    font-size: em($base)

*, *::before, *::after
    box-sizing: border-box

body
    margin: 0
    font-family: $font-serif
    font-weight: $regular
    line-height: $line_height_default

p
    font-size: $font_size_default * 1.12
    margin: 0
    margin-bottom: $gutter

a
    transition: color $timing_duration $timing_function, opacity $timing_duration $timing_function
    &.r-decoration-none
        text-decoration: none
        &:active, &:focus, &:hover
            text-decoration: none

img
    object-fit: cover
iframe
    border: 0!important

input, button, textarea
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    border: none
    border-radius: 0
    background: none
    padding: 0
    box-sizing: border-box
button
    cursor: pointer
    font-family: inherit
    font-size: 100%
    line-height: inherit

ul
    &.r-none
        list-style: none
        padding-left: 0
        margin: 0
    &.r-listtyle-none
        list-style: none