//
    // Cover Grid
    // @package tyd

// em() from px
@function em($target, $context: $base) { @return ($target / $context) * 1em; }
@function rem($target, $context: $base) { @return ($target / $context) * 1rem; }



// Units
$base: 16px;
$height_control: em(40px);
$input_height: em(45px);
$bar_height: em(56px);
$minimum_card_height: em(152px);
$card_height_1: em(132px);
$padding_for_height_adjust: 0.72em;
$margin_for_line_height_adjust: em(-4px);
$timing_duration: .32s;
$timing_function: ease;
$gutter: rem($base) * 1.72;
$half_gutter: $gutter * .5;
$gutter_sm: rem($base) * 2.48;
$gutter_md: rem($base) * 3.12;
$gutter_lg: rem($base) * 4.08;
$grid_gap: $gutter * 1.15;
$gradient_degree: 72deg;
$edge: rem($base);
$suffix: $edge * .5;
$prefix: $suffix;
$half_edge: $edge * .5;
$qtr_edge: $edge * .25;
$edge_3qtr: $edge * .75;



// Colors
$color_1:#e7277b;
$color_2: #2474eb;
$color_3: #e1eff8;
$color_4: #f9fbfb;
$color_black: #0f0203;
$color_gray_500: #A0AEC0;
$color_gray_600: #718096;
$color_gray_700: #4a5568;
$color_teal_300: #81E6D9;
$color_pink_700: #B83280;
$app_bg: #edf2f7;



// Typography
$font_sans: Avenir, "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$font_playfair: 'Playfair Display', serif;
$font_display: 'DM Serif Display', serif;
$font_size_default: rem($base);
$line_height_default: 1.64;
$line_height_heading: 1.40;
$line_height_lists: 1.88;
$letter_spacing_default: em(1.36px);
$regular: 400;
$medium: 500;
$bold: 700;
$font_size_nano: em($base) * 0.8;
$font_size_micro: em($base) * 1.04;



// Decorations
$border_color_light: rgba(#fff, 0.15);
$border-light: 1px solid rgba(#fff, 0.3);
$border-dark: 1px solid rgba($color_black, 0.2);
$border_default_width: em(1.875px);
$border_width_1px: em(1px);
$border_radius: rem($base);
$border_radius_pico: $border_radius * .24;
$border_radius_nano: $border_radius * .56;
$border_radius_mini: $border_radius * .96;
$border_radius_micro: $border_radius * .96;
$border_radius_small: $border_radius * 1.24;
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
$thin_shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
$shadow_on_hover: 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.16);
$big_shadow: 0 8px 17px 2px rgba(0,0,0,0.12), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.16);
$big_shadow_on_hover: 0 24px 38px 3px rgba(0,0,0,0.12), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.16);
$notch_micro: $gutter;
$notch_small: $gutter * 2;
$notch_medium: $gutter * 4;



// Opacities
$opacities: (
    '01': 0.1,
    '02': 0.2,
    '03': 0.3,
    '04': 0.4,
    '05': 0.5,
    '06': 0.6,
    '07': 0.7,
    '08': 0.8,
    '09': 0.9,
    '10': 1.0
);



// Z-Indexes
$zx: (
    '01': 8,
    '02': 16,
    '03': 24,
    '04': 32,
    '05': 40,
    '06': 48,
    '07': 56,
    '08': 64,
    '09': 72,
    '10': 80
);



// Color Mapping
$colors: (
    '1': $color_1,
    '2': $color_2,
    'black': $color_black,
    'app': $app_bg,
    'white': #fff,
    'gray--500': $color_gray_500,
    'gray--600': $color_gray_600,
    'gray--700': $color_gray_700,
    'teal--300': $color_teal_300,
    'pink--700': $color_pink_700
);



// Breakpoints
$breakpoint_xxs: 360px;
$breakpoint_xs: 480px;
$breakpoint_sm: 576px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1096px;
$breakpoint_xxl: 1440px;
$breakpoint_xxxl: 1920px;
$maxpoint_lg: 991px;



// Overrides
$vsm-media: $breakpoint_lg;