//
    // Functions & Mixins
    // @package tyd

// Width and height dimensions
@mixin wh($w, $h: $w) {
    width: $w;
    height: $h;
}



// Generate Text Colors
@mixin r_colors($map) {
    @each $theme, $color in $map {
        &-#{$theme} {
            color: $color
        }
    }
}



// Generate Background Colors
@mixin r_bg($map) {
    @each $theme, $color in $map {
        &-#{$theme} {
            background-color: $color
        }
    }
}



// Generating Opacities
@mixin r_opacity($map) {
    @each $num, $opacity in $map {
        &-#{$num} { opacity: $opacity }
    }
}



// Generating Z-Indexes
@mixin r_zx($map) {
    @each $num, $zx in $map {
        &-#{$num} { z-index: $zx }
    }
}



// Positioning
@mixin pos($pos: absolute, $t: null, $r: null, $b: null, $l: null) {
    position: $pos;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}



// Flex
@mixin flex($display: flex, $align: center, $justify: space-between) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}



// Generating Media Query Rule Blocks
@mixin mq($break) {
    @if $break == "xs" {
        @media (min-width: $breakpoint_xs) {
            @content;
        }
    }
    @else if $break == "sm" {
        @media (min-width: $breakpoint_sm) {
            @content;
        }
    }
    @else if $break == "md" {
        @media (min-width: $breakpoint_md) {
            @content;
        }
    }
    @else if $break == "lg" {
        @media (min-width: $breakpoint_lg) {
            @content;
        }
    }
    @else if $break == "xl" {
        @media (min-width: $breakpoint_xl) {
            @content;
        }
    }
    @else if $break == "xxl" {
        @media (min-width: $breakpoint_xxl) {
            @content;
        }
    }
    @else { @error "Whoops! No value could be retrieved for `#{$break}`. " }
}