//
    // Placeholders
    // @package tyd

%h {
    margin-top: $gutter;
    margin-bottom: $gutter * .25;
    line-height: $line_height_heading;
    font-family: $font_display;
    font-weight: bold;
    color: inherit;
}