<template>
    <div :class="`r-container ${ edgeless ? 'r-edgeless' : ''}`" :style="{ backgroundColor: color }">
        <slot/>
    </div>
</template>

<script>
    export default {
        props: {
            edgeless: {
                type: Boolean,
                default: false
            },
            color: String,
        }
    }
</script>