<template>
    <div :class="`r-cover-grid ${shortCover ? 'r-short-cover' : ''}`">
        <div v-if="backdrop" class="r-cover-grid__backdrop" :style="{ backgroundColor: color }"/>
        <div class="r-cover-grid__leading">
            <slot name="leading"/>
        </div>
        <div class="r-cover-grid__trailing">
            <slot name="trailing"/>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            color: String,
            shortCover: Boolean,
            backdrop: {
                type: Boolean,
                default: true
            }
        }
    }
</script>

<style lang="scss" scoped>
    .r-cover-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        @include mq(sm) {
            padding-right: $edge;
            padding-left: $edge;
        }
        @include wh(100%, 100vh);
        &__leading, &__trailing { grid-column: 1/-1 }
        &__leading { grid-row: 1/8 }
        &__trailing { grid-row: 8/-1 }
        &__backdrop {
            grid-column: 1/-1;
            grid-row: 1/-1;
            z-index: -1;
        }
        @include mq(md) {
            height: em(592px);
            grid-gap: $edge;
            &__leading, &__trailing {
                height: 100%;
            }
            &__leading {
                grid-column: 1/6;
                grid-row: 2/12;
            }
            &__trailing {
                grid-column: 6/-1;
                grid-row: 3/12;
            }
            &__backdrop {
                grid-column: 3/-1;
            }
        }
    }
    .r-cover-grid.r-short-cover  {
        .r-cover-grid__trailing {
            align-self: center;
        }
        @include mq(md) {
            height: em(480px);
            .r-cover-grid__leading { grid-row: 2/12 }
            .r-cover-grid__trailing {
                grid-row: 3/12;
                align-self: center;
            }
        }
    }
    .r-topic .r-cover-grid.r-short-cover {
        @include wh(100%, 64vh);
        .r-cover-grid__leading {
            grid-row: 1/10;
        }
        .r-cover-grid__trailing {
            grid-row: 10/-1;
            justify-self: center;
        }
        @include mq(md) {
            height: em(392px);
            .r-cover-grid__leading {
                grid-row: 2/12;
            }
            .r-cover-grid__trailing {
                grid-row: 4/10;
                justify-self: start;
                .r-flex-dir-col {
                    justify-content: center;
                }
            }
        }
    }
</style>