<template>
    <div class="r-tyd-app">
        <h1 v-if="pageTitle" v-text="pageTitle" class="r-sr"/>
        <r-header/>
        <div class="r-page-transition-wrapper">
            <main>
                <slot/>
            </main>
            <r-footer v-if="showFooter"/>
        </div>
    </div>
</template>

<script>
    import Header from '~/components/shell/Header'
    import Footer from '~/components/shell/Footer'
    export default {
        components: {
            'r-header': Header,
            'r-footer': Footer
        },
        props: {
            pageTitle: String,
            pagePath: String,
            showFooter: {
                type: Boolean,
                default: true
            }
        }
    }
</script>

<static-query>
    query {
        metadata { siteName, siteDescription, siteUrl, siteImage }
    }
</static-query>