<template>
    <div :class="`r-fullwidth`" :style="{ backgroundColor: color }">
        <slot/>
    </div>
</template>

<script>
    export default {
        props: {
            color: String,
        }
    }
</script>