<template>
    <div class="r-hero-grid r-gutter r-edges@md-up">
        <r-container>
            <h2 class="r-m-0 r-maxwidth-sm">
                <span class="r-caps r-caps--micro r-co-1 r-ff-sans r-d-block">{{ 'About TheYaddo' }}</span>
                <span class="r-headline--bigger">{{ hero.headline }}</span>
            </h2>
            <div class="r-pt-edge">
                <g-link :to="latest" class="r-btn r-btn--primary">
                    {{ hero.link_button.text }}
                </g-link>
            </div>
        </r-container>
        <div><g-image :src="hero.top_leading_image" :alt="hero.top_leading_image_description" class="r-w-100 r-h-100"/></div>
        <div><g-image :src="hero.top_trailing_image" :alt="hero.top_trailing_image_description" class="r-w-100 r-h-100"/></div>
        <div><g-image :src="hero.bottom_leading_image" :alt="hero.bottom_leading_image_description" class="r-w-100 r-h-100"/></div>
        <div><g-image :src="hero.bottom_trailing_image" :alt="hero.bottom_trailing_image_description" class="r-w-100 r-h-100"/></div>
    </div>
</template>

<script>
    export default {
        props: ['hero', 'latest']
    }
</script>

<style lang="scss" scoped>
    .r-hero-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(13, 1fr);
        grid-gap: $edge;
        @include wh(100%, 100vh);
        > * {
            &:first-child {
                grid-column: 1/-1;
                grid-row: 1/5;
            }
            &:nth-child(2) {
                grid-column: 1/7;
                grid-row: 4/9;
            }
            &:nth-child(3) {
                grid-column: 7/-1;
                grid-row: 3/8;
            }
            &:nth-child(4) {
                grid-column: 1/7;
                grid-row: 9/-1;
            }
            &:last-child {
                grid-column: 7/-1;
                grid-row: 8/13;
            }
            @include mq(xxl) {
                &:nth-child(2), &:nth-child(4) { grid-column: 2/7; }
                &:nth-child(3), &:last-child { grid-column: 7/12; }
            }
        }
        @include mq(lg) { height: em(960px); }
    }
</style>