<template>
    <div class="r-disclosure">
        <div class="r-bg-app r-edges--all">
            <p class="r-mb-0 r-fs-micro r-fw-medium r-ff-sans r-opacity-07 r-maxwidth-sm r-mx-auto r-tx-c">
                {{ meta.affiliate_disclosure }}
            </p>
        </div>
    </div>
</template>

<script>
    import meta from '../../../content/sitemeta.yml'
    export default {
        data() {
            return {
                meta
            }
        },
    }
</script>

<style lang="scss" scoped>
    .r-disclosure {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        > * {
            grid-column: 1/-1;
            // @include mq(md) { grid-column: 2/12; }
            @include mq(lg) { grid-column: 2/12; }
        }
    }
</style>