<template>
    <div>
        <div v-if="page.show_headline">
            <h2 class="r-m-0 r-lh-1hh r-page-title">
                <span class="r-page-title__decor"/>
                <div class="r-page-title__title r-edges">
                    <span class="r-caps r-caps--micro r-ff-sans r-opacity-06">
                        {{ page.title }}
                    </span>
                    <span class="r-headline--bigger r-d-block">
                        {{ page.headline }}
                    </span>
                </div>
            </h2>
            <div class="r-meta r-edges">
                <p v-if="page.show_excerpt" class="r-mb-0 r-ff-sans r-fs-micro r-lh-1.5 r-opacity-08">
                    {{ page.excerpt }}
                </p>
                <p v-if="page.show_dates" class="r-mb-0 r-ff-sans r-caps r-caps--micro r-fw-bold">
                    <span>Published: <span class="r-opacity-07">{{ page.dates.date_published }}</span></span>
                    <span class="r-d-block">Last Updated: <span class="r-opacity-07">{{ page.dates.date_updated }}</span></span>
                </p>
            </div>
        </div>
        <div v-else>
            <h2 class="r-m-0 r-lh-1hh r-page-title">
                <span class="r-page-title__decor"/>
                <div class="r-page-title__title r-edges">
                    <span class="r-headline--bigger">
                        {{ page.title }}
                    </span>
                </div>
            </h2>
            <div class="r-meta r-edges">
                <p v-if="page.show_excerpt" class="r-mb-0 r-ff-sans r-fs-micro r-lh-1.5">
                    {{ page.excerpt }}
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['page']
    }
</script>

<style lang="scss" scoped>
    .r-page-title, .r-meta {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: $edge;
    }
    .r-page-title {
        grid-template-rows: repeat(6, 1fr);
        &__decor, &__title {
            position: relative;
        }
        &__title {
            grid-column: 1/-1;
            grid-row: 1/-1;
            z-index: 2;
        }
        &__decor {
            grid-column: 1/6;
            grid-row: 1/-1;
            @include wh(176px);
            background: rgba($color_1, 0.2);
            border-radius: 100%;
            margin-top: -$gutter;
            margin-left: -$gutter;
            z-index: 1;
        }
        @include mq(sm) {
            &__decor {
                margin-left: -$gutter * 2;
            }
        }
        @include mq(md) {
            &__decor {
               @include wh(200px);
                margin-left: -$gutter * 2;
            }
        }
    }
    .r-meta {
        margin-top: -$gutter;
        > * {
            grid-column: 1/-1;
        }
        @include mq(xs) {
            margin-top: -$gutter * 2;
        }
        @include mq(sm) {
            > * {
                grid-column: 1/11;
            }
        }
        @include mq(lg) {
            > * {
                grid-column: 1/9;
            }
        }
    }
</style>