<template>
    <g-link :to="author.path" class="r-media-object r-decoration-none r-link--gray">
        <g-image :src="author.avatar" :alt="author.title" class="r-media-object--figure r-avatar r-avatar--large"/>
        <div class="r-media-object--body">
            <h3 class="r-mt-0 r-mb-hh r-headline--medium r-co-black r-lh-1">{{ author.title }}</h3>
            <p class="r-mb-0 r-d-block r-ff-sans r-fw-bold r-caps r-caps--micro">
                {{ author.role }}
            </p>
        </div>
    </g-link>
</template>

<script>
    export default {
        props: ['author']
    }
</script>