<template>
    <div v-html="sprite(icon, width, height, cls, fill)" class="icon-wrapper"/>
</template>

<script>
    const colorPrimary = '#ff0f7b'
    import sprite from '~/assets/js/sprite'
    export default {
        props: {
            icon: String,
            cls: String,
            fill: String,
            width: [Number, String],
            height: [Number, String]
        },
        components: { sprite },
        methods: { sprite: sprite.sprite }
    }
</script>

<style lang="scss" scoped>
    .icon-wrapper {
        display: inline-flex;
        align-items: center;
    }
</style>