//
    // Buttons
    // @package tyd

.r-btn
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 0 $edge * 1.25
    height: em(48px)
    border-radius: em(56px)
    box-shadow: $shadow
    text-decoration: none
    font-size: $font_size_nano
    text-transform: uppercase
    font-family: $font_sans
    letter-spacing: 1px
    font-weight: $bold
    &--primary
        background-color: $color_1
        color: #fff
    &--fab\@sm-down
        @media (max-width: $breakpoint_sm)
            +wh(46px, 45px)
            border-radius: 100%
    &--fab\@lg-down
        @media (max-width: $maxpoint_lg)
            +wh(46px, 45px)
            border-radius: 100%