//
    // Decorations
    // @package tyd

// Shadows
.r-thin-shadow
    box-shadow: $thin_shadow



// Borders
.r-border--light
    border: $border-light
.r-border-top--light
    border-top: $border-light
.r-border-bottom--light
    border-bottom: $border-light
.r-border-width\(2\)
    border-width: 2px



// Border Radiuses or Radii
.r-br-nano
    border-radius: $border_radius_nano



// Badges
.r-badge
    background-color: $color_1
    color: #fff
    display: inline-flex
    align-items: center
    justify-content: center
    padding: $qtr_edge $edge
    border-radius: $gutter
    box-shadow: $shadow
    min-width: em(72px)
    transition: box-shadow $timing_duration $timing_function
a.r-badge
    &:focus, &:hover
        box-shadow: none



// Cards
.r-card
    border-radius: $border_radius
    box-shadow: $shadow
.r-notch-top
    border-top-left-radius: $gutter *  5
.r-notch-top--small
    border-top-left-radius: $gutter * 2
.r-notch-bottom
    border-bottom-right-radius: $gutter *  5
.r-notch-bottom--small
    border-bottom-right-radius: $gutter *  2



// Links
.r-link
    transition: color $timing_duration $timing_function, opacity $timing_duration $timing_function
    &--gray
        color: $color_gray_600
        &:focus, &:hover
            color: $color_1
    &--white
        color: #fff
        opacity: 1
        &:focus, &:hover
            opacity: 0.7
.r-social-icon
    filter: grayscale(1)
    transform: scale(1)
    transition: filter $timing_duration $timing_function, transform $timing_duration $timing_function
    &:focus, &:hover
        filter: none
        transform: scale(1.15)
.r-scale\:hover
    transform: scale(1)
    transition: transform $timing_duration $timing_function
    &:focus, &:hover
        transform: scale(1.15)
.r-filter--gray
    filter: grayscale(1)
    transition: filter $timing_duration $timing_function, transform $timing_duration $timing_function
    &:focus, &:hover
        filter: none



// Lists
.r-list-vertical
    &__item
        @extend .r-grid--12
        > *
            grid-column: 1/-1
            padding: $edge $gutter
.r-list-horizontal
    display: flex
    flex-wrap: wrap
    &__item
        > *
            padding: $half_edge
            +mq(sm)
                padding: $edge
.r-list-light
    &__item
        > *
            color: #fff
            background: transparent
            transition: background $timing_duration $timing_function
            &:focus, &:hover
                background: $color_1
.r-list-dim
    &__item
        color: #fff
        opacity: 0.7
        transition: opacity $timing_duration $timing_function
        &.active, &:focus, &:hover
            opacity: 1



// Images
.r-image\(64\)
    +wh(64px)
    object-fit: cover
.r-o-fit-contain
    object-fit: contain



// Media List
.r-media-list
    display: flex
    > *:first-child
        @extend .r-prefix--wider
    &--light
        border-bottom: $border-light
ul li:last-child .r-media-list
    border-bottom: none
.r-media-object
    +flex($align: center, $justify: unset)
    &--figure
        margin-right: $edge
    &--body
        flex: 1



// Animations
.r-scale-icon\:hover
    .icon-wrapper
        transform: scale(1)
        transition: transform $timing_duration $timing_function
    &:focus, &:hover
        .icon-wrapper
            transform: scale(1.15)