//
    // Texts
    // @package adx_usr

// Line Heights
.r-lh-0
    line-height: 0
.r-lh-1
    line-height: 1
.r-lh-1hh
    line-height: 1.25
.r-lh-1\.5
    line-height: 1.5




// Headings
h1, h2, h3, h4, .h1, .h2, .h3, .h4
    @extend %h
h2, .r-h2
    font-size: rem($base) * 1.44
    +mq(sm)
        font-size: rem($base) * 1.72
h3, .r-h3
    font-size: rem($base) * 1.36
    +mq(sm)
        font-size: rem($base) * 1.44



// Headlines
.r-headline--small
    font-size: $base * 1.24
    font-family: $font_playfair
.r-headline--medium
    font-size: rem($base) * 1.48
    +mq(sm)
        font-size: rem($base) * 1.56
.r-headline--big
    font-size: rem($base) * 1.56
    +mq(sm)
        font-size: rem($base) * 2.08
    +mq(md)
        font-size: rem($base) * 2.72
    +mq(xl)
        font-size: rem($base) * 2.96
.r-headline--bigger
    font-size: rem($base) * 1.96
    +mq(sm)
        font-size: rem($base) * 2.56
    +mq(md)
        font-size: rem($base) * 3.44
    +mq(xl)
        font-size: rem($base) * 3.72
.r-section-header
    margin: 0
    font-size: rem($base) * 1.32



// Alignments
.r-tx-c
    text-align: center
    &\@md
        +mq(md)
            text-align: center
    &\@lg
        +mq(lg)
            text-align: center
.r-tx-l
    text-align: left



// Font Sizes & Weights & Style
.r-fs-display
    font-family: $font_display
.r-ff-s, .r-ff-sans
    font-family: $font_sans
.r-fs-pico
    font-size: rem($base) * 0.72
.r-fs-nano
    font-size: $font_size_nano
.r-fs-micro
    font-size: $font_size_micro
.r-fs-small
    font-size: rem($base) * 1.24
.r-fs-medium
    font-size: rem($base) * 1.72
.r-fs-large
    font-size: rem($base) * 2.24
.r-fs-xlarge
    font-size: rem($base) * 2.56
.r-fs-1
    font-size: rem($base)
.r-fs-1\.25
    font-size: rem($base) * 1.25
.r-fs-1\.5
    font-size: rem($base) * 1.5

.r-fw-medium
    font-weight: $medium
.r-fw-bold
    font-weight: $bold

.r-italic
    font-style: italic



// Caps & Transforms
.r-tt-l
    text-transform: lowercase
.r-tt-u
    text-transform: uppercase
.r-caps
    @extend .r-tt-u
    letter-spacing: $letter_spacing_default
    &--pico
        font-size: rem($base) * 0.64
    &--nano
        font-size: rem($base) * 0.72
    &--micro
        font-size: rem($base) * 0.80
    &--small
        font-size: rem($base) * 1.04